@Html.Partial("_HeaderUser")
@model tiket_reservation.Models.Gabungan
<style>
    .form-group {
        margin: 0 0 0 0 !important;
    }
</style>
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="judul">Validasi Tiket <i style="padding-left: 15px; font-size: 40px; padding-top: 25px;"
                    class="fa fa-shield " aria-
                    hidden="true"></i>

                </h1>
                <br>
            </div>
            <div class="col-lg-12">
                @using (Html.BeginForm("validasi_tiket", "user", new
                {
                    id =
                        Model.tblPembeli.id_pembeli
                }, FormMethod.Post, new
                {
                    @class =
                        "form-horizontal daftar text-center",
                    role = "form"
                }))
                {
                    <fieldset>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Form Validasi </h3>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <legend style="padding-top: 12px; text-align: left" class="control-label">* Submit Tiket Validasi </legend>

                                    <hr>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group ">
                                        <label class="control-label" for="">Nama </label>
                                        <div class="form-input">

                                            @Html.TextBoxFor(u => u.tblPembeli.nm_pembeli, new
                                       {
                                           @readonly =
                                               "readonly",
                                           @class = "form-control",
                                           @placeholder = "Nama",
                                           @type =
                                               "name"
                                       })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-md-offset-1">
                                    <div class="form-group ">
                                        <label class="control-label" for="">Email</label>
                                        <div class="form-input">

                                            @Html.TextBoxFor(u => u.tblPembeli.email_pembeli, new
                                       {
                                           @readonly =
                                               "readonly",
                                           @class = "form-control",
                                           @placeholder = "Masukan Email",
                                           @type = "email"
                                       })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group has-warning ">
                                        <label class="control-label" for="inputWarning">No Handphone</label>
                                        <div class="form-input">
                                            @Html.TextBoxFor(u => u.tblPembeli.hp_pembeli, new
                                       {
                                           @readonly =
                                               "readonly",
                                           @class = "form-control",
                                           @placeholder = "No Handphone",
                                           @type = "text"
                                       })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-md-offset-1">
                                    <div class="form-group has-warning ">
                                        <label class="control-label" for="inputWarning">Harga Tiket</label>
                                        <div class="form-input">
                                            @Html.TextBoxFor(u => u.rp_harga_tiket, new
                                       {
                                           @readonly =
                                               "readonly",
                                           @class = "form-control",
                                           @placeholder = "Harga Tiket",
                                           @type = "text"
                                       })

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group ">
                                        <label class="control-label" for="">Nama Bandara Berangkat</label>
                                        <div class="form-input">

                                            @Html.TextBoxFor(u => u.nm_bandara_berangkat, new
                                       {
                                           @readonly =
                                               "readonly",
                                           @class = "form-control",
                                           @placeholder = "Bandara Berangkat",
                                           @type = "text"
                                       })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-md-offset-1">
                                    <div class="form-group has-warning ">
                                        <label class="control-label" for="inputWarning">
                                            Nama Bandara
Tujuan</label>
                                        <div class="form-input">
                                            @Html.TextBoxFor(u => u.nm_bandara_tujuan, new
                                       {
                                           @readonly =
                                               "readonly",
                                           @class = "form-control",
                                           @placeholder = "Bandara Tujuan",
                                           @type = "text"
                                       })

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group ">
                                        <label class="control-label" for="">Pajak Bandara Berangkat</label>
                                        <div class="form-input">

                                            @Html.TextBoxFor(u => u.rp_bandara_berangkat, new
                                       {
                                           @readonly =
                                               "readonly",
                                           @class = "form-control",
                                           @placeholder = "Bandara Berangkat",
                                           @type = "text"
                                       })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-md-offset-1">
                                    <div class="form-group has-warning ">
                                        <label class="control-label" for="inputWarning">
                                            Pajak Bandara
Tujuan</label>
                                        <div class="form-input">
                                            @Html.TextBoxFor(u => u.rp_bandara_tujuan, new
                                       {
                                           @readonly =
                                               "readonly",
                                           @class = "form-control",
                                           @placeholder = "Bandara Tujuan",
                                           @type = "text"
                                       })

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-5 ">
                                    <div class="form-group ">
                                        <label class="control-label" for="bank">Pilihan Bank </label>
                                        <div class="form-input">
                                            @Html.TextBoxFor(u => u.tblDetailTiket.pilihan_bank, new
                                       {
                                           @readonly
                                               = "readonly",
                                           @class = "form-control",
                                           @placeholder = "Harga Tiket",
                                           @type = "text"
                                       })

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                        <!-- orang 2 -->
                        <!-- Orang Sekunder -->
                        <div class="col-md-offset-9">

                            @if (@Model.tblValidasi.uang_transfer_validasi != null)
                            {
                                <button type="submit" class="btn btn-raised btn-info" disabled>
                                    Anda
Sudah Mengirim Tiket</button>

                            }
                            else
                            {
                                <button type="submit" class="btn btn-raised btn-info">
                                    Kirim Tiket
Konfirmasi</button>
                            }

                        </div>
                        <br>
                        <br>
                        <br>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->
</div>
</body>

@Html.Partial("_Footer")
</html>